.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.display {
  width: 40%;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  
}

.dashboard {
  width: 40%;
}

.controls-container {
  display: flex;
  justify-content: space-evenly;
}